################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ITLA C# Basico/PracticaITLA/.vs
/ITLA C# Intermedio/Aplicar los principios SOLID/.vs
