################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PracticaITLA/.vs/PracticaITLA/FileContentIndex482f89f5-e987-45d5-b76c-0eee12e5b7a5.vsidx
/Trabajo Final ITLA C#basico/ShopWeb/.vs/Shop/FileContentIndex
